# Starter pipeline

trigger:
- main

pool:
  vmImage: windows-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Azure for Students(8f55ccac-5075-4334-ace5-1efd09027f00)'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: 'scripts/script-infra.sh'
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
- task: SqlAzureDacpacDeployment@1
  inputs:
    azureSubscription: 'SQL Connection Script'
    AuthenticationType: 'server'
    ServerName: '$(DB_SERVER)'
    DatabaseName: '$(DB_NAME)'
    SqlUsername: '$(DB_USERNAME)'
    SqlPassword: '$(DB_PASSWORD)'
    deployType: 'SqlTask'
    SqlFile: 'scripts/script-bd.sql'
    IpDetectionMethod: 'AutoDetect'
- task: Maven@4
  inputs:
    azureSubscription: 'Azure for Students(8f55ccac-5075-4334-ace5-1efd09027f00)'
    mavenPomFile: 'pom.xml'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.21'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false


- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**/target/*.jar'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'

